.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  background-color:rgb(248, 246, 246);
  height: 100%;
}

.navbar1{
  height: 50px;
  background-color:white;
}
.abc {

  display:block;
  margin:20px 10px 0px 10px !important ;  
  box-sizing: border-box;

}

.top-details-icon {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0.3rem 0.5rem 0rem 0.5rem;
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border-radius: 50%; /* Ensure it's a circle */
  background-color:rgb(1, 1, 61) !important;/* Example background color */
  font-size: 20px;
  float: right !important;
}
.notification{
  color:rgb(1, 1, 61) !important;
  width:30px;
  height:30px;
  float:right;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.body{
  overflow: hidden;
  height: 100%;
}
input{
  width: 100%;
}
label{
  margin:0px;
  color: black; 
}
.row{
   margin-bottom: 5px;
}
.content{
  height: 100vh;
  width:15%;
  background-color: white;
  color: black;
  
}
.submenu-item{
  padding: 1rem 1rem 1rem 3rem;
}
.menu-item{
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 2px solid lightgrey;
}
.dropdown{
  padding-top: 0rem !important;
  margin-top: 0rem !important;
  align-items: center !important;
  padding-left: 7rem;
  font-size: 10rem;
  height: 30px;
  width: 250px;
  
}
.content-input{
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  width:30%;
  height: 100%;
  margin:auto;
  margin-top: 10%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
button{
  color: white;
  background-color: blue;
}
.menu{
  height: 100%;
  width:20%;
  background-color: white;
}